html 
    head    
        title 'Title message'
    body
        p Simple Pug Page
        font(color="red" size=24) Welcome to Pug engine
        form(action="check")
            label UserName
            input(type="text" name="user")
            br
            lable Password
            input(type="password" name="pass")
            br
            input(type="submit" value="submit")